{{>layouts/header}}
<div class="jumbotron">
    {{#article}}
        <h1>Article 수정</h1>
    {{/article}}
    {{^article}}
        <h1>Article 등록</h1>
    {{/article}}
    <hr>
    <p>articles/change.mustache</p>
</div>
<form class="container">
    {{#article}}
        <div class="form-group">
            <label for="author">작성자</label>
            <!-- name="author" 추가, DTO의 필드명과 일치해야 함! -->
            <input name="author" type="text" class="form-control" id="article-author" placeholder="작성자를 입력하세요" value="{{author}}">
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <!-- value 속성 추가 -->
            <input name="title" type="text" class="form-control" id="article-title" placeholder="제목을 입력하세요" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <!-- textarea 내부 텍스트 추가 -->
            <textarea name="content"class="form-control" id="article-content" placeholder="내용을 입력하세요" rows="3">{{content}}</textarea>
        </div>
        <!-- 숨겨진 입력값 id 추가 -->
        <input type="hidden" id="article-id" value="{{id}}">
        <button type="button" class="btn btn-primary" id="article-update-btn">제출</button>
    {{/article}}
    {{^article}}
        <div class="form-group">
            <label for="author">작성자</label>
            <!-- name="author" 추가, DTO의 필드명과 일치해야 함! -->
            <input name="author" type="text" class="form-control" id="article-author" placeholder="작성자를 입력하세요">
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <!-- name="title" 추가, DTO의 필드명과 일치해야 함! -->
            <input name="title" type="text" class="form-control" id="article-title" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <!-- name="content" 추가, DTO의 필드명과 일치해야 함! -->
            <textarea name="content" class="form-control" id="article-content" placeholder="내용을 입력하세요" rows="3"></textarea>
        </div>
        <!-- type="button"으로 변경, id값 추가 -->
        <button type="button" class="btn btn-primary" id="article-create-btn">제출</button>
    {{/article}}
</form>
<Script src="/js/app/article.js"></script> <!-- article.js 삽입 -->
{{>layouts/footer}}